<p-card header="Cliente">
  <div class="text-right m-2">
    <button pButton
            (click)="salvar()"
            type="button"
            label="Salvar"
            class="ui-button-raised"></button>
  </div>
  <div class="container">
    <span class="ui-float-label my-2">
      <input id="nome" pInputText size="30" type="text" [(ngModel)]="objeto.nome">
      <label for="nome">Nome</label>
    </span>
    <span class="ui-float-label my-2">
      <input id="cpf" pInputText size="30"  type="text" [(ngModel)]="objeto.cpf">
      <label for="cpf">CPF</label>
    </span>
    <span class="ui-float-label my-2">
      <input id="telefone" pInputText size="30" maxlength="20" type="text" [(ngModel)]="objeto.telefone">
      <label for="telefone">Telefone</label>
    </span>
  </div>
</p-card>
