<p-card header="Pedido">
  <div class="text-right m-2">
    <button (click)="salvar()"
            class="ui-button-raised"
            label="Salvar"
            icon="pi pi-save"
            pButton
            type="button"></button>
  </div>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6">
      <label for="dataEmissao">Data de Emissão</label>
      <p-calendar [(ngModel)]="objeto.dataEmissao"
                  dateFormat="dd/MM/yy"
                  inputId="dataEmissao"></p-calendar>
    </div>
    <div class="ui-g-12 ui-md-6">
      <label for="cliente">Cliente</label>
      <p-dropdown [(ngModel)]="objeto.cliente"
                  [options]="clientes"
                  [showClear]="true"
                  inputId="cliente"
                  optionLabel="nome"></p-dropdown>
    </div>
    <div class="ui-g-12 text-center">
      <h4>Total: {{ objeto.total  | currency: 'BRL'}}</h4>
    </div>
  </div>
</p-card>
<p-card header="Itens">
  <div class="row">
    <div class="col-12">
      <div class="text-right m-2">
        <p-splitButton (onClick)="novoItem()"
                       [model]="menuItens"
                       icon="pi pi-plus"
                       label="Adicionar"></p-splitButton>
      </div>
    </div>
    <div class="col-12">
      <p-table [value]="objeto.pedidoItemList">
        <ng-template pTemplate="header">
          <tr>
            <th>Produto</th>
            <th class="text-center">Quantidade</th>
            <th class="text-right">Valor Unitário</th>
            <th class="text-right">Valor Desconto</th>
            <th class="text-right">Valor Total</th>
            <th class="text-center">Ações</th>
          </tr>
        </ng-template>
        <ng-template let-item let-rowIndex="rowIndex" pTemplate="body">
          <tr>
            <td>{{item?.produto?.descricao}}</td>
            <td class="text-center">{{item?.quantidade}}</td>
            <td class="text-right">{{item?.valorUnitario | currency: 'BRL'}}</td>
            <td class="text-right">{{item?.valorDesconto | currency: 'BRL'}}</td>
            <td class="text-right">{{item?.valorTotal | currency: 'BRL'}}</td>
            <td class="text-center">
              <i (click)="editar(rowIndex)"
                 class="pi pi-pencil"
                 title="Editar"></i>
              <i (click)="excluir(rowIndex)" class="pi pi-trash ml-2"
                 title="Excluir"></i>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="text-center">
            <td colspan="6">Não há produtos adicionados ao pedido.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-card>

<app-pedido-item (onClose)="displayItem = false"
                 (onSalvar)="adicionarItem($event)"
                 [displayItem]="displayItem"
                 [objeto]="pedidoItem"></app-pedido-item>
